.navbar-default {
  background-color: $nav-background;
  color: $link;
}
.navbar-default .navbar-brand {
  color: $link;
}
.navbar-default .navbar-brand:hover {
  color: $link;
}
.navbar-default a:link {
  color: $link;
  text-decoration: none;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -khtml-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.navbar-default a:visited {
  color: $link;
}
.navbar-default a:hover {
  color: $green;
}
.navbar-default a:active {
  color: $green;
}
.navbar-default .navbar-nav>li>a:link {
  color: $link;
  -o-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -khtml-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.navbar-default .navbar-nav>li>a:visited {
  color: $link;
}
.navbar-default .navbar-nav>li>a:hover {
  color: $highlight;
  background-color: $nav-link-background;
}
.navbar-default .navbar-nav>li>a:active {
  color: $highlight;
  background-color: $nav-link-background;
}
.active {
  background-color: $nav-link-background !important;
  color: $highlight !important;
}
.right-brand {
  margin-right: 15px;
}
.navbar-right {
  margin-right: 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: $green;
  background-color: $nav-link-background;
}